@import '../../../styles/settings.scss';

.component {
  width: 100%;
  min-height: 1000px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  color: whitesmoke;
  font-family: $font-text;
}

body {
  //background-image: url('../../../images/dashboard_background.jpg');
  margin: 100px 0 0 100px;
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  //min-height: 720px;
  padding: 20px 50px 20px 20px;
}

.icon {
  font-size: 20px;
  display: block;
}
