@import '../../../styles/settings.scss';

.header {
  float: right;
  font-family: $font-text;
  background-color: #65c241;
  margin: 0;
  padding: 0;
}

.restaurantName {
  position: absolute;
  left: 5px;
  font-size: 20px;
  margin-top: 10px;
}

.logo {
  position: absolute;
  left: 12px;
  margin-top: 10px;
  height: 90%;
}

.loggedName {
  position: absolute;
  right: 10px;
  margin-top: 55px;
  color: white;
  font-size: 10px;
}
